<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Brandon D. Piercy</h1>
                    <h2>Materials Scientist</h2>

                    <hr>


                    <p>Hello! I am interested in designing new materials and devices using stuff we encounter every day. I tackle problems from every field, but am particularly interested in replacing rare elements with earth-abundant ones. I use a broad range of synthetic techniques, like vacuum processing, air-free chemistry, and electrochemistry, to create new materials with interesting properties. In the spirit of materials science, I use a host of characterization methods with a focus on spectroscopic methods to understand what properties my materials have and why they have certain behaviors.</p>
                    <br>
                    <div class="text-center"><a class="btn btn-xl page-scroll" href="#cv">My Work</a></div>
                </div>
            </div>
        </div>
    </section>