<!-- About/Resume Section -->
    <section id="cv">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Curriculum Vitae</h2>
                    <a class="btn btn-xl" href="other/2016-03-18 resume.pdf">Download &nbsp;<i class="fa fa-file-pdf-o"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Education</h3>
                    <h5>Georgia Institute of Technology, <small>Atlanta, GA</small></h5>
                    
                    PhD, Materials Science and Engineering 
                    <br>2018 (expected)

                    <h5>Case Western Reserve University <small>Cleveland, OH</small></h5>
                    
                    BS, Materials Science and Engineering, <i>magna cum laude</i>
                    <br>2012
                                        

                    <h3>Experience</h3>
                    <h5>PhD Candidate</h5>

                    <ul>
                        <strong>Georgia Institute of Technology</strong>, <small>Atlanta, GA</small><br><i>Advisor: Dr. Mark Losego</i> <br>
                        August 2014 - present
                        <li>Investigated ultrathin metal oxide filims for solar cell, solar fuel generation, and electrocatalysis applications using atomic layer deposition (ALD)</li>
                        <li>Developed a vapor infiltration method for modifying polymer properties</li>
                        <li>Designed and built ultra-high vacuum deposition reactors for chemical and physical vapor deposition</li>
                        <li>Designed and developed continuous operation control software for ALD process control</li>
                    </ul>

                    <h5>R&D Engineer I </h5>

                    <ul>
                        <strong>De Nora Tech</strong>, <small>Concord, OH</small><br>
                        June 2012 - July 2014
                        <li>Developed a high performance Ta-based anti-corrosion coating for oxygen evolution electrodes used in metal plating</li>
                        <li>Developed a process for producing titanium oxide-based photo-activated electrodes for water purification</li>
                        <li>Developed a microchip-scale electrochemical ozone generator for use in appliances</li>
                        <li>Optimized the processing conditions for gas diffusion electrodes used in advanced salt splitting electrolysis reactors</li>
                        <li>Designed and developed command and control software for a lifetime analysis lab</li>
                    </ul>

                    <h5>NNIN Undergraduate Fellow </h5>

                    <ul>
                        <strong>Harvard University</strong>, <small>Cambridge, MA</small><br>
                        <i>Advisor: Dr. Michael Aziz</i><br>
                        Summer 2011
                        <li>Investigated the mechanisms and limitations behind making “hyperdoped” silicon alloys, potentially used in advanced solar cells.</li>
                    </ul>

                    <h5><h5>SURF Undergraduate Fellow </h5>

                    <ul>
                        <strong>Georgia Institute of Technology</strong>, <small>Atlanta, GA</small>
                        <br><i>Advisor: Dr. Gleb Yushin</i><br>
                        Summer 2010
                        <li>Synthesized and characterized electrodes for advanced supercapacitors using nano-templated carbon.</li>
                    </ul>

                </div>
                <div class="col-md-6">
                    <h3>Publications</h3>
                        <ul>
                            <li>Piercy, B. D., Losego, M. D. “Tree-based control software for multilevel sequencing in thin film deposition applications.” <i>J. Vac. Sci. & Tech. B.</i> <b>33</b>, 043201 (2015). <a href="http://dx.doi.org/10.1116/1.4926676">DOI <i class="fa fa-external-link"></i></a></li>
                            <li>Piercy, B. D., Allen, C., Gulla, A. F. “Ta and Ti Anti-passivation Interlayers for Oxygen-Evolving Anodes Produced by Cold Gas Spray”. <i>J. Thermal Spray Tech.</i> <b>24</b>, 4 (2015). <a href="http://dx.doi.org/10.1007/s11666-015-0219-1">DOI <i class="fa fa-external-link"></i></a></li>
                        </ul>

                    <h3> presentations </h3>
                        <ul>
                            <li>Piercy, B. D., Liu, C., Losego, M. D. “Organic-Inorganic Hybrid Dielectrics for Film Capacitors”. <i>Electronic Materials and Applications 2016</i>. Poster. Jan. 20, 2016.</li>
                            <li>Piercy, B. D., Losego, M. D. “Sub-Nanometer Oxide Coatings for Improved Stability of Molecularly Sensitized Devices”. <i>Center for Organic Photovoltaics Industry Partners Day</i>. Poster. Sept. 18, 2015.</li>
                            <li>Piercy, B. D., Losego, M. D. “Control software for multi-level sequencing in thin film deposition applications”. <i>2015 MSE Industry Day and Career Fair</i>. Poster. June 14, 2015.</li>
                            <li>Piercy, B. D., Leng, C., Losego, M. D. “Interfaces and 3-Dimensionality for Energy & Security”. <i>2014 MSE Research Symposium</i>. Poster. Sept 19, 2014.</li>
                        </ul>

                    <h3>Teaching</h3>
                    <h5>Teaching Assistant</h5>
                        <ul>
                            <strong>Georgia Institute of Technology</strong>                            
                            <li>MSE 2001 - Principles and Applications of Engineering Materials</li>
                            <ul>
                                <li>Spring 2016</li>
                                <li>Fall 2015</li>
                                <li>Fall 2014</li>
                            </ul>
                            <li>MSE 3002 - Structural Transformations</li>
                            <ul><li>Spring 2015</li></ul>
                        </ul>
                        <ul>
                            <strong>Case Western Reserve University</strong>
                            <li>ENGR 145 - Chemistry of Materials</li>
                            <ul>
                                <li>Spring 2012</li>
                                <li>Spring 2010</li>
                            </ul>
                        </ul>

                    <h3> Honors, Awards, Societies </h3>
                        <ul>
                            <li>CETL Outstanding Graduate Teaching Award Finalist <br>
                                <i>Georgia Institute of Technology</i>
                            </li>
                            <li>President's Fellowship <br>
                                <i>Georgia Institute of Technology</i>
                            </li>
                            <li>2013 Workshop on Electrochemical Measurements<br>
                                <i>Case Western Reserve University</i>
                            </li>
                            <li>Van Horn Scholarship<br>
                                <i>Case Western Reserve University</i>
                            </li>
                            <li>Trustees' Scholarship<br>
                                <i>Case Western Reserve University</i>
                            </li>
                            <li>American Vacuum Society</li>
                            <li>American Ceramics Society</li>
                            <li>Tau Beta Pi</li>
                        </ul>

                            


                </div>
            </div>
        </div>
    </section>